<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated study -->
      <package
            uri="platform:/plugin/TDT4250.Assignment3.model/model/study.ecore"
            class="study.StudyPackage"
            genModel="model/study.genmodel"/>
   </extension>

</plugin>
